h1   {
    font-size: 8vw;
    color: rgb(255, 255, 255);
}

body {
    background-color: #4872a3;
  }

p{
    color: white
}

.nomargin{
    margin:0;
}

.center {
    text-align: center;
} 

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }